@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a{
  text-decoration: none;
  color: slategray;
}
.footer{
  background-color: lightgray;
  /* box-shadow: (horz-offset) (vert-offset) 10px */ 
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.692);
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
ul{
  list-style-type: none;
  padding: 0;
}

.right-links {
  padding-right: 20px;
}

.left-links {
  padding-left: 20px;
}

.header,
.footer,
.left-links,
.right-links,
.content,
body {
  display: flex;
}

.content,
body{
  flex-direction: column;
  gap: 10px;
}

.header,
.footer{
  justify-content: space-between; 
}

.content {
  align-items: center;
}
body {
  justify-content: space-between;
}

.left-links,
.right-links{
  justify-content:space-evenly;
  gap: 10px;
}

